{% macro footer() %}
	<footer class="footer">
		<div class="v-container">
			<div class="h-container">
				<div class="footer-tab">
					<h3>Online.</h3>
					<a href="https://dribbble.com/wengel_eth"><i class="fab fa-dribbble"></i></a>
					<a href="https://twitter.com/wengel_eth"><i class="fab fa-twitter"></i></a>
				</div>
				<div class="footer-tab">
					<h3>Contact.</h3>
					<router-link to="/contact"><i class="fas fa-envelope"></i></router-link>
				</div>
			</div>
			<p>William Engel &#169; {% raw %}{{ thisYear }}{% endraw %}</p>
		</div>
	</footer>
{% endmacro %}

{% macro button(link, text) %}
	<svg class="link-button" viewBox="0 0 250 70">
		<a href="{{ link }}">
			<polygon points="6,6 6,64 244,64 244,34 204,6"/>
			<text x="9" y="61" text-anchor="left">&nbsp;{{ text }}</text>
		</a>
	</svg>
{% endmacro %}

{% macro form(color) %}
	<section class="content form {{ color }}">
		<div class="container">
			<form name="contact" method="POST" netlify netlify-honeypot="bot-field">
				<input type="hidden" name="form-name" value="contact" />
				<div class="names">
					<input name="name" type="text" placeholder="Name" required/>
					<input name="email" type="email" placeholder="Email" required/>
				</div>
				<div class="comment">
					<textarea name="message" rows="6" placeholder="Comment" required></textarea>
				</div>
				<button class="link-button" type="submit">
					<svg viewBox="0 0 250 70">
						<polygon points="6,6 6,64 244,64 244,34 204,6"/>
						<text x="9" y="61" text-anchor="left">Submit.</text>
					</svg>
				</button>
			</form>
		</div>
	</section>
{% endmacro %}

{% macro contentA(color, image, link, heading, p) %}
	<section class="content a {{ color }}">
		<div class="container">
			<span class="cider"></span>
			<h2>{{ heading }}</h2>
			<p>{{ p }}</p>
		</div>
		{% if image == '' %}
			<div class="image-placeholder"></div>
		{% else %}
			<a href="{{ link }}">
				<img src="{{ image }}"/>
			</a>
		{% endif %}
	</section>
{% endmacro %}

{% macro contentB(color, image, heading, p, link, text) %}
	<section class="content b {{ color }}">
		<div class="b {{ color }}">
			<div class="image-placeholder overlay" style="{{ image }}"></div>
			<div class="container">
				<span class="cider"></span>
				<h2>{{ heading }}</h2>
				<p>{{ p }}</p>
				<svg class="link-button" viewBox="0 0 250 70">
					<a href="{{ link }}">
						<polygon points="6,6 6,64 244,64 244,34 204,6"/>
						<text x="9" y="61" text-anchor="left">{{ text }}</text>
					</a>
				</svg>
			</div>
		</div>
	</section>
{% endmacro %}

{% macro product(name, image, price, link) %}
	<a class="product" href="{{ link }}">
		<img src="{{ image }}">
		<span class="name">{{ name }}</span>
		<br>
		<span class="price">${{ price }}</span>
	</a>
{% endmacro %}
