---
layout: baseLayout.njk
title: 'Store'
---
{% import 'comps.njk' as c %}

<section class="title-slide bottom left"
	style="background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)),url('https://ik.imagekit.io/wengel/wengel_xyz/IMG_9655_z_yUF3J6VC3.jpg?tr=w-1440,pr-true');">
	<h1>My Store.</h1>
</section>

<section class="content c dark-blue">
	<div class="container">
		{{ c.product('Pro Life Sticker', 'https://ik.imagekit.io/wengel/product_images/IMG_1033_ER-L_6Rdx.JPG?tr=w-720,h-720,fo-center,pr-true', 'pro life sticker', 2.99, '/store/item-pro-life-sticker') }}
	</div>
</section>
