---
layout: baseLayout.njk
title: 'Store'
---
{% import 'comps.njk' as c %}

<section class="title-slide bottom left"
	style="background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)),url('https://ik.imagekit.io/wengel/wengel_xyz/IMG_9655_z_yUF3J6VC3.jpg?tr=w-1440,pr-true');">
	<h1>My Store.</h1>
</section>

<section class="content c dark-blue">
	<div class="container">
		{{ c.product('Pro Life Sticker', 'https://ik.imagekit.io/wengel/product_images/photo_2022-08-30_11-53-37_0RS4dapiJ.jpg?tr=w-1080,h-1080,fo-center,pr-true', 2.99, '/store/pro-life-sticker') }}
	</div>
</section>
