---
layout: baseLayout.njk
title: 'Store — Pro Life Sticker'

itemId: 'pro-life-sticker'
itemName: 'Pro Life Sticker'
itemPrice: '2.99'
itemImage: 'https://ik.imagekit.io/wengel/product_images/IMG_1033_ER-L_6Rdx.JPG?tr=w-720,h-720,fo-center,pr-true'
itemWeight: 10
---

{% import 'comps.njk' as c %}

<section class="content d dark-blue">
	<div class="container">
		<h1>{{ itemName }}</h1>
		<div class="buybox">
			<img src="https://ik.imagekit.io/wengel/product_images/IMG_1033_ER-L_6Rdx.JPG?tr=w-1080,h-720,fo-center,pr-true" alt="pro life sticker">
			<div class="col">
				<strong>${{ itemPrice }}</strong>
				<button class="snipcart-add-item sold"
					data-item-id="{{ itemId }}"
					data-item-name="{{ itemName }}"
					data-item-price=""
					data-item-image="{{ itemImage }}"
					data-item-weight="{{ itemWeight }}"
				>Sold Out.</button>
			</div>
		</div>
		<p>The Pro Life Sticker is perfect for anyone who wants to show their support for the innocent lives in the womb. This high-quality sticker is made of thick, durable vinyl that will protect it from scratches, rain and sunlight. It's also easy to apply, so you can put it on any surface you like. Whether you're displaying it on your car, laptop or water bottle, this sticker is a great way to show your support for the sanctity of human life.</p>
		<ul>
			<li>Free Shipping to Canada and US.</li>
			<li>Show your support for the sanctity of human life.</li>
			<li>Made of thick, durable vinyl.</li>
			<li>Protects from scratches, rain and sunlight.</li>
			<li>100mm x 26mm size.</li>
		</ul>
	</div>
</section>
