.content {
	display: grid;
	grid-template-columns: auto fit-content(@container-max-width) auto;
	z-index: 1;

	&.a {
		padding-bottom: 64px;
		img, .image-placeholder {
			grid-column: ~'2/3';
			background: gray;
			width: @container-max-width;
			height: calc(100vw*(2/3));
			max-width: 100vw;
			max-height: calc(@container-max-width*(2/3));
		}

		.container {
			grid-column: ~'2/3';
			padding: 12px 48px;
			max-width: 100vw;

			ul {
				list-style-type: square;
			}
		}
	}

	&.b {
		.b {
			display: grid;
			grid-column: ~'2/3';
			grid-template-columns: auto auto;

			img, .image-placeholder {
				background: gray;
				width: calc(@container-max-width/3);
				height: calc(@container-max-width/3);
				max-width: calc(100vw/3);
				max-height: calc(100vw/3);
				overflow: hidden;
				background-size: contain;
				background-position: center;

				&.overlay::after {
					content: '';
					position: relative;
					display: block;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background-image: linear-gradient(transparent, @secondary);
				}
			}

			.container {
				padding: 8px 24px;

				ul {
					list-style-type: square;
				}
			}
		}

	}

	&.form {
		.container {
			grid-column: ~'2/3';
			padding: 12px 48px;
			max-width: 100vw;

			ul {
				list-style-type: square;
			}

			form {
				.names {
					display: flex;

					input:first-of-type {
						width: auto;
					}

					input:nth-of-type(2) {
						width: 240px;
					}

					input {
						border: 6px solid @primary;
						color: @co1;
						margin: 8px;
						padding: 4px 8px 2px 8px;
						background: transparent;
						font-size: var(--h5);
						font-family: Share Tech Mono;
					}
				}

				.comment {
					display: flex;

					textarea {
						width: 100%;
						margin: 8px;
						border: 6px solid @primary;
						color: @co1;
						background: transparent;
						padding: 8px 8px 2px 8px;
						resize: none;
						font-size: var(--h5);
						font-family: Share Tech Mono;
					}
				}

				button {
					margin: 8px;
				}
			}
		}
	}

	&.dark-blue {
		color: @co1;
		background: @secondary;

		& *:focus {
			outline: @co2;
			outline-offset: 4px;
			outline-style: dashed;
		}
	}

	&.pink {
		color: @co1;
		background: @co2;

		& *:focus {
			outline: @secondary;
			outline-offset: 4px;
			outline-style: dashed;
		}
	}


	.cider {
		background-size: contain;
		background-repeat: no-repeat;
		display: block;
		position: absolute;
		height: calc(var(--h2)*1.25);
		width: 100%;
		z-index: -1;
		margin-left: var(--cider-left);
		margin-top: var(--cider-top);
	}
}
