@import 'variables.less';

* {
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}

	&::selection {
		background: rgba(255, 196, 12, 0.4);
	}
}

body {
	margin: 0;
	background: @secondary;

	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Paytone One';
	color: @primary;
	margin: 0;
}

h {
	&1 {
		font-size: var(--h1);
	}

	&2 {
		font-size: var(--h2);
	}

	&3 {
		font-size: var(--h3);
	}

	&4 {
		font-size: var(--h4);
	}

	&5 {
		font-size: var(--h5);
	}

	&6 {
		font-size: var(--h6);
	}
}

p, ul, li {
	font-family: 'Share Tech Mono';
	text-align: justify;
}

#app {
	width: 100vw;
	margin: 0;
	padding: 0;
}

@import 'ham.less';

.page-body {
	display: grid;

	@import 'title-blocks.less';
	@import 'content-blocks.less';
}
