.title-slide {
	box-sizing: border-box;
	height: calc(100vw*(2/3));
	width: 100vw;
	padding: var(--title-padding);
	display: grid;

	&.top {
		align-content: start;
	}

	&.bottom {
		align-content: end;
	}

	&.left {
		justify-content: start;
		text-align: left;
	}

	&.right {
		justify-content: end;
		text-align: right;
	}

	&.error-page {
		height: 100vh !important;
		justify-items: center;
		align-items: center;

		h1 {
			font-size: calc(var(--h1)*3);
		}

		p {
			font-size: var(--h3);
		}
	}

	p {
		color: @co1;
	}
}
