.title-slide {
	grid-column: span 3;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	padding: 72px;
	display: grid;

	&.top {
		align-content: start;
	}

	&.bottom {
		align-content: end;
	}

	&.left {
		justify-content: start;
		text-align: left;
	}

	&.right {
		justify-content: end;
		text-align: right;
	}
}
