// static variables
@primary: #FFC300;
@secondary: #002147;

@co1: #F5F5F5;
@co2: #E30B5D;

@container-max-width: 980px;

// dynamic variables

:root { // default sizes for desktop
	--h1: 4.6rem;
	--h2: 3.2rem;
	--h3: 2.4rem;
	--h4: 1.8rem;
	--h5: 1.4rem;
	--h6: 1rem;
	--p: 1rem;

	--ham-w: 44px;
	--button-h: 70px;
	--button-w: 250px;

	--title-padding: 72px;
	--ham-back-padding: 20px;
	--ham-list-margin: 80px;

	--cider-top: 10px;
	--cider-left: -24px;

	--form-line: 6px;
}

@media screen and (max-width: 780px) {
	:root { // sizes for tablet screen
		--h1: 3.2rem;
		--h2: 2.4rem;
		--h3: 1.8rem;
		--h4: 1.4rem;
		--h5: 1rem;
		--h6: 0.9rem;
		--p: 0.9rem;

		//--ham-w
		--button-h: 42px;
		--button-w: 150px;

		--title-padding: 48px;
		//--ham-back-padding
		//--ham-list-margin

		--cider-top: 8px;
		--cider-left: -20px;

		--form-line: 4px;
	}
}

@media screen and (max-width: 640px) {
	:root { // sizes for large phone
		--h1: 2.4rem;
		--h2: 1.8rem;
		--h3: 1.4rem;
		--h4: 1rem;
		--h5: 0.9rem;
		--h6: 0.85rem;
		--p: 0.85rem;

		--ham-w: 32px;
		//--button-h
		//--button-w

		--title-padding: 36px;
		--ham-back-padding: 16px;
		--ham-list-margin: 64px;

		--cider-top: 6px;
		--cider-left: -16px;

		--form-line: 4px;
	}
}

@media screen and (max-width: 400px) {
	:root { // sizes for small screen
		--h1: 2rem;
		--h2: 1.4rem;
		--h3: 1rem;
		--h4: 0.9rem;
		--h5: 0.85rem;
		--h6: 0.8rem;
		--p: 0.8rem;

		//--ham-w
		//--button-h
		//--button-w

		--title-padding: 32px;
		//--ham-back-padding
		//--ham-list-margin

		--cider-top: 4px;
		--cider-left: -12px;

		--form-line: 4px;
	}
}
